:root {
  // DEFAULT
  font-family: Arial, sans-serif;
  
  --white: #fff;
  --black: #000;
  --secondary: #aaa;

  //PAGE COLORS
  --page-background: #121212;

  // CARD COLORS
  --card-background: #141414;
  --card-info-background: #1e1e1e;

   // BUTTON COLORS
  --btn-primary: #e50914;
  --btn-primary-hover: #9f1a20;
  --btn-secondary: #aaa;
  --btn-secondary-hover: #999;
}

html {
  background-color: var(--page-background);
}

body {
  padding: 0;
  margin: 0;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}